* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}
#contenaire{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-image: url("../fond.jpg");
    background-size: cover;

}
h1 {
    margin: 3vh auto;
    font-size: large;
    background-color: #040935;
    color: #dbcbcb;
    padding: 5px 5px;
    border-radius: 5px;
}

#envoyer {
    width: 40%;
    text-align: center;
    border-bottom-color: #05153e;
    margin:auto;
}

input {
    margin: auto;
    text-align: center;
}


#generate{
    width: 30%;
    text-align: center;
    padding: 5px 5px;
    background-color: coral;
    border-radius: 10px;
    margin: 5vh auto;

}

#texte {
    border: 1px solid darkslategray;
    width: 50%;
    height: 15vh;
    margin: 10vh auto;
    font-size: x-large;
    border: 5px dashed brown;
    background-color: #acdee0;
    text-align: center;

}
